/*Global style */
* {
    text-align: center;
    align-items: center;
    background-color: white;
    color: rgb(0 96 146);
}

/*Header*/
h1 {
    font-size: 200%;
    margin: 10px;
}

img {
    width: 80px;
    height: 100px;
}

/*Main content*/
.quiz {
    width: 80%;
    margin: 10px auto;
}

#question {
    border-style: solid;
    border-color: rgb(175, 175, 175);
    background-color: rgb(221, 221, 221, 0.4);
    border-width: thin;
    margin: 15px auto;
    width: 80%;
    padding: 5px;
}

button {
    border-style: solid;
    border-color: rgb(175, 175, 175);
    background-color: rgb(221, 221, 221, 0.4);
    border-width: thin;
    margin: 10px auto;
    width: 60%;
    padding: 5px;
}

#restart-button {
    border-style: solid;
    border-color: rgb(175, 175, 175);
    background-color: rgb(221, 221, 221, 0.4);
    border-width: thin;
    margin: 10px auto;
    width: 40%;
}

/* Media query for tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 300%;
    }

    img{
        width: 120px;
        height: 160px;
    }

    .quiz {
        width: 60%;        
    }
}